*{
    margin: auto;
}

.container{
    width: 80%;
}

#logo{
    background-image: url(../img/pattern.png);
    background-color: rgb(10, 145, 190, 0.7);
    background-size: cover;
    width: 100%;
    height: 100px;
}

#title{
    font-size: 45px;
}

#sub-title{
    color: gray;
}

#booleaner{
    color: rgb(11, 88, 114);
}

.photo{
    width: 100%;
}

#description{
    font-size: 15px;
}

.text-yellow{
    background-color: yellow;
}

ul{
    padding-top: 20px;
}

table{
    width: 100%;
    padding-top: 20px;
    border-spacing: 0;
}

thead{
    background-color: rgb(69, 69, 248);
}

.color-table{
    background-color: rgb(48, 203, 255);
}